<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#3a3a3a">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="images/favicon.ico">
    <title>GLUG MVIT</title>

    {{!-- Bootstrap CSS --}}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {{!-- Font Awesome CSS --}}
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    {{!-- Custom CSS here --}}
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/team.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    {{!-- Custom Fonts here --}}
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:700" rel="stylesheet">
      
    {{!-- Bootstrap and Jquery JS --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>

</head>
<body scroll="no">

<div class="row">
    <div class="col-md-10 col-md-offset-1"></div>
    {{#if error_msg}}
        <!-- The snackbar -->
        <div id="snackbar">{{error_msg}}</div>
        <script type="text/javascript">toast();</script>
    {{/if}}
    {{#if error}}
        <div id="snackbar">{{error}}</div>
        <script type="text/javascript">toast();</script>
    {{/if}}
    {{#if success_msg}}
        <div id="snackbar">{{success_msg}}</div>
        <script type="text/javascript">toast();</script>
    {{/if}}
</div>

{{!-- Navigation --}}
<nav class="nav navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-md-12">
            <div class="navbar-header">
            <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                <span class="fa fa-lg fa-chevron-circle-down navbar-toggle-span"></span>
            </a>
                <a href="/" class="navbar-brand">GLUG</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                <ul class="nav navbar-nav">
                {{#if home}}
                    <li class="active"><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#opensource">OpenSource</a></li>
                    <li><a href="/team">Our team</a></li>
                    <li><a href="/upcoming">Upcoming Events</a>
                    {{#if user}}
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">{{user.username}}&nbsp;<i class="fa fa-angle-down"></i>
                            </a>
                            <div class="navbar-default dropdown-menu drop" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/dashboard"><p>Dashboard</p></a>
                              <hr>
                              <a class="dropdown-item" href="/profile"><p>Profile</p></a>
                              <hr>
                              <a class="dropdown-item" href="/logout"><p>Logout</p></a>
                            </div>
                        </li>
                    {{else}}
                        <li><a href="/register">Signup</a></li>
                        <li><a href="/login">Login</a></li>
                    {{/if}}
                {{else}}
                    <li><a href="/">home </a></li>
                    {{#if user}}
                        <li><a href="/activities">Activities</a></li>
                        <li><a href="/upcoming">Upcoming</a></li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">{{user.username}}&nbsp;<i class="fa fa-angle-down"></i>
                            </a>
                            <div class="navbar-default dropdown-menu drop" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="/dashboard"><p>Dashboard</p></a>
                              <hr>
                              <a class="dropdown-item" href="/profile"><p>Profile</p></a>
                              <hr>
                              <a class="dropdown-item" href="/logout"><p>Logout</p></a>
                            </div>
                        </li>
                    {{else}}
                        <li><a href="/register">register</a></li>
                        <li><a href="/login">Login</a></li>
                    {{/if}}
                {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>
{{!-- Navigation end --}}
{{#if home}}
<a href="#contact"><div id="mycontact"><i class="fa fa-envelope"></i><span> CONTACT</span></div></a>
{{/if}}
<main>
{{{body}}}
</main>

{{!-- Custom JS here --}}
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/navbar.js"></script>

</body>
</html>
