{{#ifCond user.type "admin"}}
{{!-- Admin dashboard --}}
  <div class="container pagediv">
    <div class="row pagediv center">
      <div class="col-sm-3 custom-card">
        <a href="/addmem">
        <img class="img-responsive" src="images/add.png" alt="Avatar">
        <hr>
        <div class="custom-card-container">
          <h4><b>Member Management</b></h4> 
          <p>Add or remove a user as member</p> 
        </div>
        </a>
      </div>
      <div class="col-sm-3 col-md-offset-1 custom-card">
        <a href="/addevent">
        <img class="img-responsive" src="images/addevent.png" alt="Avatar">
        <hr>
        <div class="custom-card-container">
          <h4><b>Event Management</b></h4> 
          <p>Announce an event</p> 
        </div>
        </a>
      </div>
    </div>
  </div>
{{!--  --}}
{{else}}
{{!-- User Dashboard --}}
<br>
<div class="container pagediv">
  <div class="row jumbotron">
   <div class="col-md-3">
   <div><br><br></div>
      <img class="img-responsive img-circle users" src="http://res.cloudinary.com/dttf46owb/image/upload/v1503147377/user_photos/{{user.usn}}.jpg" onerror="this.src='images/no-image-icon.png'" alt="User_Image" > 
     <div class="username">
        <h4>{{user.username}}</h4>
        <p>{{user.email}}</p>
    </div>
     <h4 class="text-center">{{user.bio}}</h4>
     <a style="color:blue" href="/profile">Profile Settings</a>
   </div>
   <div class="col-md-1"></div>
   <div class="col-md-8">
      <div><br><br></div>
      <div id="exTab1">
        <ul  class="nav nav-tabs pills-tab">
              <li class="active" >
                <a href="#1a" data-toggle="tab">Registered</a>
              </li>
              <li><a href="#2a" data-toggle="tab">Participated</a>
              </li>
              <li><a href="#3a" data-toggle="tab">Collaborate</a>
              </li>
        </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="1a">
                <h3>some other object. For example, the designer of an online newsletter may have a template that they fill with dummy text so they can get an idea of how to layout a page looks. One of the most common filler texts is lorem ipsum.</h3>
              </div>
              <div class="tab-pane" id="2a">
                <h3>Alternatively referred to as dummy text or filler text, placeholder text is text that is used to preview fonts, spoof an e-mail spam filter, or reserve a specific place on a web page or other document for images, text, or some other object. For example, the designer of an online newsletter may have a template that they fill with dummy text so they can get an idea of how to .</h3>
              </div>
              <div class="tab-pane" id="3a">
                <h3>Want to help out in building something GREAT!!</h3>
                <img src="/images/bh.png" style="width:50%;height:40%;">
                <p>Contribute to the community by helping in Web and Android development.</p>
                <a href="https://github.com/GlugMVIT" target="_blank" class="btn btn-primary">Visit Page</a>
              </div>
            </div>
            </div>
      <hr></hr>
   </div>
  </div>
  </div>
</div>
{{!--  --}}
{{/ifCond}}
